<div id="dashboard" class="body">
  <div class="dashboard-container">
    <!-- Create New Section -->
    <div class="column create-new">
      <button id="create-new-btn" class="action-btn">Create New</button>
      <div class="quote-container">
        <!-- Inspirational quote section -->
        <div id="inspo">Need inspiration? Consider this: </div>
        <div id="quote"></div>
      </div>
    </div>

    <!-- Continue Reading Section -->
    <div class="column continue-reading">
      <h2>Continue Reading</h2>
      <!-- Check if there are any works the user has commented on -->
      {{#if commentedWorks.length}}
        {{#each commentedWorks}}
          <div class="story-item">
            <!-- Link to the story the user has commented on -->
            <p><a href="/story?id={{this.id}}">{{this.title}}</a></p>
            <!-- Display the collection title if it exists -->
            {{#if this.collectionTitle}}
              <p class="collection-title"><em>Part of '{{this.collectionTitle}}' Collection</em></p>
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        <!-- Message if no commented works are available -->
        <p>You haven't commented on any works yet.</p>
      {{/if}}
    </div>

    <!-- Continue Writing Section -->
    <div class="column continue-writing">
      <h2>Continue Writing</h2>
      <!-- Loop through the user's written works -->
      {{#each writtenWorks}}
        <div class="story-item">
          <!-- Link to the editor to continue writing -->
          <p><a href="/editor?id={{this.id}}">{{this.title}}</a></p>
          <!-- Display the collection title if it exists -->
          {{#if this.collectionTitle}}
            <p class="collection-title"><em>Part of '{{this.collectionTitle}}'
                Collection</em></p>
          {{/if}}
          <!-- Display any comments related to the work -->
          <p class="comment">{{this.comment}}</p>
        </div>
      {{/each}}
    </div>
  </div>
   <!-- New York Times Best Sellers Section -->
  <div class="nyt-best-sellers">
    <h2>New York Times Best Sellers</h2>
    <div class="best-seller-list">
      <!-- The best sellers list will be dynamically populated here -->
    </div>
  </div>
</div>

<!-- Link to external JavaScript file -->
<script src="/js/dashboard.js"></script>