<div id="discover">
  <div class="discover-container">
    <!-- Check if there are works to display -->
    {{#if works.length}}
      <!-- Loop through each published work to display its details -->
      {{#each works}}
        <div class="post-box">
          <!-- Display the title of the work with a link to the full story -->
          <h3 class="post-title">
            <a href="/story?id={{this.id}}" class="post-link">{{this.title}}</a>
          </h3>
          <div class="post-metadata">
            <!-- Display the author of the work with a link to their profile -->
            <p class="post-author">
              By:
              <a href="/author/{{user.id}}">{{user.username}}</a>
            </p>
            <!-- Display the date the work was created, formatted nicely -->
            <p class="post-date">{{format_date this.createdAt}}</p>
          </div>

          <!-- Display a preview of the work's content -->
          <div class="post-content">
            {{this.content}}
          </div>

        </div>
      {{/each}}
    {{else}}
      <!-- Display this message if no works are available -->
      <p>No works to display.</p>
    {{/if}}
  </div>
</div>

<!-- Link to external JavaScript file -->
<script src="/js/discover.js"></script>