<div id="editor">
  <div class="form-container">
    <div class="column-1">
    <h1>{{#if workId}}Edit{{else}}Create{{/if}} Work</h1>
      <form id="editor-form">    
      <input type="hidden" id="work-id" value="{{work.id}}" />
    
        <label for="existing-works">Add to Existing Collection (Optional)</label>
        <select id="existing-works" name="existing-works">
          <option value="">Select an existing work (Optional)</option>
          <!-- Options will be dynamically populated in JavaScript -->
        </select>

        <label for="collection-title">Collection Title (Optional)</label>
        <input
        type="text"
        id="collection-title"
        name="collection-title"
        value="{{#if work.collectionTitle}}{{work.collectionTitle}}{{/if}}"
        />
        
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          value="{{work.title}}"
          required
        />

        <label for="content">Content</label>
        <textarea
          id="content"
          name="content"
          rows="10"
          required
        >{{work.content}}</textarea>    
    
    <div class="form-buttons">
    <button id="save-button">Save</button>
    <button id="post-button">Post</button>
    {{#if workId}}
      <button id="delete-button" data-work-id="{{workId}}">Delete</button>
    {{/if}}
    </div>
  </form>

  <div id="comment-section">
    <h2>Comments</h2>
    <div id="comments-list">
      {{#each comments}}
        <div class="comment">
          <p><strong>{{this.username}}:</strong> {{this.content}}</p>
          <p><em>{{format_date this.createdAt}}</em></p>
        </div>
      {{/each}}
    </div>
    {{#if loggedIn}}
      <form id="new-comment-form" data-work-id="{{workId}}">
        <textarea class="comment-content" placeholder="Add a comment..."></textarea>
        <button type="submit">Submit Comment</button>
      </form>
    {{/if}}
  </div>
</div>

<script src="/js/editor.js"></script>