<div id="profile">
    <div class="profile-container">
        <div class="row">
            <!-- Row 1 -->
            <div class="section section-1">
                <h2>User Information</h2>
                <form class="user-info-form">
                    <label for="username">Username:</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        value="{{username}}"
                    />

                    <label for="first-name">First Name:</label>
                    <input
                        type="text"
                        id="first-name"
                        name="firstName"
                        value="{{firstName}}"
                    />

                    <label for="last-name">Last Name:</label>
                    <input
                        type="text"
                        id="last-name"
                        name="lastName"
                        value="{{lastName}}"
                    />

                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" value="{{email}}" />

                    <div class="form-buttons">
                        <button type="button" class="save">Save</button>
                        <button type="button" class="change-password">Change Password</button>
                    </div>
                </form>
            </div>
            <div class="section section-2">
                <div class="profile-image"></div>
            </div>
        </div>
        <div class="row">
            <!-- Row 2 -->
            <div class="section section-3">
                <h2>About Me</h2>
                <textarea id="bio" name="bio">{{bio}}</textarea>
                <div class="bio-save-container">
                    <button type="button" class="update-bio">Save Bio</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Link to external JavaScript file -->
<script src="/js/profile.js"></script>

